{% extends 'base.html.twig' %}
{% block title %}Kickstart your TYPO3 template development{% endblock %}
{% block body %}

    {% frame with { backgroundColor: 'primary', options: ['center'] } %}
        <h1 class="text-uppercase display-4">
            ncn TYPO3 Builder
        </h1>
        <p class="lead">
            Sitepackage-Builder ist dein Kickstarter für die moderne TYPO3 Theme-Entwicklung. Erfahren hier mehr über TYPO3 Templating
            oder starten jetzt dein eigenes TYPO3 Projekt.
        </p>
        <p>
            <a href="{{ path('default_new') }}" class="btn btn-outline-default btn-lg text-uppercase">
                {{ contentget( 'images/box-add.svg' ) }}
                <span class="btn-text">Sitepackage erstellen</span>
            </a>
        </p>
    {% endframe %}

    {% frame with { options: ['center'] } %}
        <h2 class="text-uppercase">Was ist ein Sitepackage?</h2>
        <p>
            Ein Sitepackage ist eine <strong>TYPO3 Extension</strong>, die alle relevanten Konfigurationen für eine Website enthält.
            Dadurch, dass die gesamte Konfiguration in einem Paket gespeichert wird, ist sie vor unberechtigtem Zugriff geschützt.
            Als Extension verwaltet Ihr Sitepackage Ihre Abhängigkeiten zu anderen Extensions und/oder der TYPO3 Version.
            Dies erleichtert die Bereitstellung und ermöglicht es Ihnen, die Konfiguration Ihrer Website unter Versionskontrolle zu stellen.
        </p>
        <p>
            Erfahren Sie mehr über die <strong>best practices</strong>, die vom TYPO3 Core Team empfohlen werden.
        </p>
        <p>
            <a href="https://speakerdeck.com/benjaminkott/the-anatomy-of-typo3-sitepackages" class="btn btn-primary" target="_blank">
                {{ contentget( 'images/book-open.svg' ) }}
                <span class="btn-text">Erfahren hier mehr über Sitepackages</span>
            </a>
        </p>
    {% endframe %}

    {% frame with { options: ['center', 'ruler-before'] } %}
        <h3>Pros and Cons</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center font-weight-normal">Site&shy;package</th>
                        <th class="text-center font-weight-normal">Classic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-start">Config files not accessible by editors </td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-start">Config files are protected <span class="text-muted">*</span></td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-start">Autoload PageTS</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-start">Autoload TypoScript</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-start">Static PageTS Template</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-start">Static TypoScript Template</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-start">Dependency Management</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-start">Distribution through TER</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-start">Clean Version Control possible</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            <small class="font-italic text-muted">* Possible but not common practice</small>
        </p>
    {% endframe %}

    {% frame with { backgroundColor: 'light', options: ['center'] } %}
        <h2>Starten dein eigenes Sitepackage</h2>
        <p>
            <a href="/new/" class="btn btn-primary">
                {{ contentget( 'images/box-add.svg' ) }}
                <span class="btn-text">Sitepackage erstellen</span>
            </a>
        </p>
    {% endframe %}

{% endblock %}
